<h2>Facturar</h2>

<div class="container">
    <div class="listado-producto">
        <div class="container-factura">
            <div class="header-serch">
                <div class="serch">
                    <mat-form-field class="example-form-field" style="width: 100%;">
                        <mat-label>Busqueda</mat-label>
                        <input matInput type="text" [formControl]="busqueda">
                        <button *ngIf="busqueda.value" matSuffix mat-icon-button aria-label="Clear" (click)="busqueda.reset()">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="botones">
                    <!-- botton de busqueda -->
                    <button mat-stroked-button color="primary" (click)="getInventario(busqueda.value)">Buscar</button>
                </div>
            </div>
            <div style="margin-top: 19px;">
                <div class="container-item">
                    <mat-card class="example-card" *ngFor="let item of productos">
                        <div>
                            <mat-card-header>
                                <mat-card-title>{{item.nombre_producto}}</mat-card-title>
                                <mat-card-subtitle>{{item.fecha_actualizacion | date}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>Cant.: {{item.cantidad}}</p>
                                <p>Precio Uni.: {{item.precio_unitario | currency:'':'symbol':'1.0'}}</p>
                            </mat-card-content>
                        </div>
                        <div class="container-botones">
                            <button mat-stroked-button color="primary" style="width: 100%;">
                                <mat-icon>add_shopping_cart</mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="factura">
        a
    </div>
</div>