<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="1000ms">
    <mat-tab label="Inventario">
        <div class="container-factura">
            <div class="header-serch">
                <div class="serch">
                    <mat-form-field class="example-form-field" style="width: 100%;">
                        <mat-label>Busqueda</mat-label>
                        <input matInput type="text" [formControl]="busquedaInventario">
                        <button *ngIf="busquedaInventario.value" matSuffix mat-icon-button aria-label="Clear" (click)="busquedaInventario.reset()">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="botones">
                    <!-- botton de busqueda -->
                    <button mat-stroked-button color="primary" (click)="getProducto(busqueda.value)">Buscar</button>

                    <button mat-raised-button color="primary" (click)="openDialogInvenraio()">Agregar Inventario</button>
                </div>
            </div>
            <div style="width: 100%; margin-top: 10px;">
                <div class="container-item">
                    <mat-card class="example-card" *ngFor="let item of dataInventario">
                        <div>
                            <mat-card-header>
                                <mat-card-title>{{item.nombre_producto}}</mat-card-title>
                                <mat-card-subtitle>{{item.fecha_actualizacion | date}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>Cant.: {{item.cantidad}}</p>
                                <p>Precio Uni.: {{item.precio_unitario | currency:'':'symbol':'1.0'}}</p>
                            </mat-card-content>
                        </div>
                        <div class="container-botones">
                            <!-- Botones eliminar y editar -->
                            <button mat-raised-button color="primary" class="botones" (click)="openDialogInvenraio(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-raised-button color="warn" class="botones" (click)="deleteInventario(item)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </div>
                <!-- <div class="tabla">
                    <table mat-table [dataSource]="dataInventario" class="mat-elevation-z8 demo-table">
                        
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">No.</th>
                            <td mat-cell *matCellDef="let element; let i = index" style="text-align: center;">{{i + 1}}</td>
                        </ng-container>
                    
                        
                        <ng-container matColumnDef="nombre_producto">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nombre Producto</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.nombre_producto}}</td>
                        </ng-container>
    
                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Cantidad</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.cantidad}}</td>
                        </ng-container>                
                    
                        <ng-container matColumnDef="precio_unitario">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Precio Unitario</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.precio_unitario | currency:'':'symbol':'1.0'}}</td>
                        </ng-container> 
                        
                        <ng-container matColumnDef="fecha_ingreso">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Fecha Ing.</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.fecha_actualizacion | date}}</td>
                        </ng-container>
                        
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 85px;"></th>
                            <td mat-cell *matCellDef="let element">
                                <div class="accion-tabla">
                                    <mat-icon class="boton-edit" (click)="openDialogInvenraio(element)">edit</mat-icon>
        
                                    <mat-icon class="boton-delete" (click)="deleteInventario(element)">delete</mat-icon>
                                </div>
                            </td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsInventario"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsInventario;"></tr>
                    </table>
                </div> -->
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Productos">
        <div class="container-factura">
            <div class="header-serch">
                <div class="serch">
                    <mat-form-field class="example-form-field" style="width: 100%;">
                        <mat-label>Busqueda</mat-label>
                        <input matInput type="text" [formControl]="busqueda">
                        <button *ngIf="busqueda.value" matSuffix mat-icon-button aria-label="Clear" (click)="busqueda.reset()">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="botones">
                    <!-- botton de busqueda -->
                    <button mat-stroked-button color="primary" (click)="getProducto(busqueda.value)">Buscar</button>

                    <button mat-raised-button color="primary" (click)="openDialog()">Agregar Producto</button>
                </div>
            </div>
            <div style="width: 100%; margin-top: 10px;">
                <div class="container-item">
                    <mat-card class="example-card" *ngFor="let item of dataSource">
                        <div>
                            <mat-card-header>
                                <mat-card-title>{{item.nombre_producto}}</mat-card-title>
                                <mat-card-subtitle>{{item.fecha_ingreso | date}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div style="display: flex; flex-direction: column;">
                                    <p>Categoria: {{item.categoria}}</p>
                                    <p>Unidad Medida: {{item.unidad_medida == 'lb' ? 'Libra' : 'Kilo'}}</p>
                                </div>
                            </mat-card-content>

                        </div>
                        <mat-card-footer>
                            <div class="container-botones">
                                <!-- Botones eliminar y editar -->
                                <button mat-raised-button color="primary" class="botones" (click)="openDialog(item)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-raised-button color="warn" class="botones" (click)="deleteProducto(item)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-card-footer>
                    </mat-card>
                </div>
                <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">No.</th>
                        <td mat-cell *matCellDef="let element; let i = index" style="text-align: center;">{{i + 1}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="nombre_producto">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nombre Producto</th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.nombre_producto}}</td>
                    </ng-container>

                    <ng-container matColumnDef="categoria">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Categoria</th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.categoria}}</td>
                    </ng-container>                
                
                    <ng-container matColumnDef="unidad_medida">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Unidad Med</th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.unidad_medida == 'lb' ? 'Libra' : 'Kilo'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="comentario">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Comentario</th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.comentario}}</td>
                    </ng-container> 
                    
                    <ng-container matColumnDef="fecha_ingreso">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Fecha Ing.</th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.fecha_ingreso | date}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 85px;"></th>
                        <td mat-cell *matCellDef="let element">
                            <div class="accion-tabla">
                                <mat-icon class="boton-edit" (click)="openDialog(element)">edit</mat-icon>
    
                                <mat-icon class="boton-delete" (click)="deleteProducto(element)">delete</mat-icon>
                            </div>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table> -->
            </div>
        </div>
    </mat-tab>
</mat-tab-group>